* {
    font-family: 'Poppins', Helvetica, sans-serif
}

html {
    scroll-behavior: smooth;
}

/* header */
header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    background-color: #acd1af;
}

header nav li {
    display: inline;
    padding: 15px;
}

header nav li a {
    color:#022333;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

header nav li a:focus, header nav li a:hover{
    font-size: 27px;
    font-weight: bolder;
}

.active a{
    font-size: 27px;
    font-weight: bolder;
    text-decoration: underline;
}

/* skip to main */
.skip {
    padding: 8px;
    position: absolute;
    left: 50%;
    height: 30px;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }



