* {
    font-family: 'Inter', Helvetica, sans-serif
}

html {
    scroll-behavior: smooth;
}

/* skip to main */
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-row-gap: 0px;
    grid-column-gap: 10px;
}